:root {
  --bg-colour: #eee;
  --nav-colour: rgb(244, 244, 244);
  --text-colour: black;
  --light-purple: rgb(200, 191, 231);
  --dark-purple: rgb(122, 92, 231);
}

.dark-mode {
  --bg-colour: #615b5b;
  --nav-colour: rgb(120, 120, 120);
  --text-colour: white;
  --light-purple: rgb(122, 92, 231);
  --dark-purple: rgb(200, 191, 231);
}

html,
body {
  overflow-y: hidden; /* hide vert scrollbar */
  background-color: var(--bg-colour);
  color: var(--text-colour);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  transition: background-color 0.1s;
}

.logo-icon {
  width: clamp(20px, 100%, 40px);
  max-width: 40px;
  height: auto;
}

#light-dark-toggle {
  border: none;
  background-color: transparent;
}

/* Profile picture */
#headshot {
  max-width: 200%;
  height: auto;
  clip-path: circle();
  object-fit: contain;
}

#section-about {
  display: flex;
  justify-content: space-between;
  margin: 5% 10%;
}

#section-profile-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

#section-profile-preview h1 {
  font-size: x-large;
}

#section-blurb {
  display: flex;
  flex-direction: column;
  /* margin-right: 100px; */
  margin-top: 100px;
  /* margin-left: 50px; */
}

#section-blurb p {
  overflow: hidden;
  font-size: larger;
  overflow: hidden;
  border-left: 0.15em solid var(--dark-purple);
  padding-left: 10px;
}

.change-color {
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: var(--light-purple);
  }
  50% {
    color: var(--dark-purple);
  }
  100% {
    color: var(--light-purple);
  }
}

#titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#title-text path {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 0.1;
  stroke-dasharray: 105;
  animation: titleTextAnimation 3s ease-in-out 1 forwards;
}

@keyframes titleTextAnimation {
  0% {
    stroke-dashoffset: 105;
  }
  60% {
    fill: transparent;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0;
  }
}
