:root {
  --bg-colour: rgb(238, 238, 238);
  --nav-colour: rgb(244, 244, 244);
  --text-colour: black;
  --light-purple: rgb(200, 191, 231);
  --dark-purple: rgb(122, 92, 231);
  --mountain-a-colour: rgb(120, 68, 33);
  --mountain-b-colour: rgb(135, 89, 58);
  --mountain-c-colour: rgb(169, 119, 86);
  --mountain-d-colour: rgb(209, 180, 161);
  --mountain-pos: -17vh;
}

.dark-mode {
  --bg-colour: #615b5b;
  --nav-colour: rgb(120, 120, 120);
  --text-colour: white;
  --light-purple: rgb(122, 92, 231);
  --dark-purple: rgb(200, 191, 231);
  --mountain-a-colour: rgb(40, 33, 120);
  --mountain-b-colour: rgb(58, 66, 135);
  --mountain-c-colour: rgb(89, 86, 169);
  --mountain-d-colour: rgb(161, 163, 209);
}

/* ::-webkit-scrollbar {
  width: 0px;
} */

body {
  overflow: hidden;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  transition: background-color 0.1s;
}

#backgroundContainer {
  overflow: hidden;
  height: 100%;
}

.bg-mountains {
  width: 100%;
  position: absolute;
  animation: blur 3s ease-in-out 1 forwards;
}

.bg-mountains path {
  transition: fill 1s;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
}

#bg-mountainA {
  filter: blur(3px);
  transform: scale(1.1);
  bottom: calc(var(--mountain-pos) + 2vh);
  z-index: 1;
}

#MountainA path {
  fill: var(--mountain-a-colour);
}

#bg-mountainB {
  filter: blur(2px);
  transform: scale(1.1);
  bottom: calc(var(--mountain-pos) - 15vh);
  z-index: 2;
}

#MountainB path {
  fill: var(--mountain-b-colour);
}

#bg-mountainC {
  filter: blur(1px);
  transform: scale(1.1);
  bottom: calc(var(--mountain-pos) - 13vh);
  z-index: 3;
}

#MountainC path {
  fill: var(--mountain-c-colour);
}

#bg-mountainD {
  bottom: calc(var(--mountain-pos) - 8vh);
  z-index: 4;
}

#MountainD path {
  fill: var(--mountain-d-colour);
}

#titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  height: 80vh;
  bottom: 3vh;
}

#title-text path {
  fill: transparent;
  stroke: var(--text-colour);
  stroke-width: 0.1;
  stroke-dasharray: 105;
  animation: titleTextAnimation 3s ease-in-out 1 forwards;
  transition: fill 1s;
}

@keyframes titleTextAnimation {
  0% {
    stroke-dashoffset: 105;
  }
  60% {
    fill: transparent;
  }
  100% {
    fill: var(--text-colour);
    stroke-dashoffset: 0;
  }
}
