/* Profile picture */
#headshot {
  width: 25vw;
  max-width: 25vw;
  height: auto;
  clip-path: circle();
  object-fit: contain;
}

#section-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 20%;
  height: 100%;
  position: relative;
  bottom: 10vh;
}

#section-profile-preview {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 50px;
}

#section-blurb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

#section-blurb p {
  overflow: hidden;
  font-size: larger;
  overflow: hidden;
  border-left: 0.15em solid var(--dark-purple);
  padding-left: 10px;
}

.change-color {
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: var(--light-purple);
  }
  50% {
    color: var(--dark-purple);
  }
  100% {
    color: var(--light-purple);
  }
}
