.logo-icon {
  width: clamp(20px, 100%, 40px);
  max-width: 40px;
  height: auto;
}

#light-dark-toggle {
  border: none;
  background-color: transparent;
}

/* navbar container */
#nav-bar {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  background-color: var(--nav-colour);
  padding: 0;
  margin: 0;
  /* height: 60px; */
  width: 100%;
}

/* Icons top left */
#nav-icons-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* Icons top left */
#nav-icons-container a {
  display: flex;
  align-items: center;
  padding: min(10px, 1.5vw);
}

/* Links top right */
#nav-links-container {
  display: flex;
  padding-right: 5px;
}

/* Links top right */
#nav-links-container a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

#nav-links-container a:visited {
  color: var(--text-colour);
}

#nav-links-container a:hover {
  color: rgb(200, 191, 231);
  padding-left: 20px;
  padding-right: 20px;
}
